<title>Movie Search Results</title>

<div class="result_container">

	<h2 class="title"> Movie Search Results </h2>

	<% @movies.map do |movie| %>
			<div class="movie_list">
				<a href="/poster/<%= movie['imdbID']%> "><%= movie['Title'] %>
					(<%= movie['Year'] %>)</a>
			</div>
	<% end %>

</div>